@media only all and (min-width: 0){
    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #333;
        color: white;
        padding: 1rem;
        .navbar-brand a {
            color: white;
            text-decoration: none;
            font-size: 1.5rem;
            font-weight: bold;
        }
        .hamburger {
            display: block;
            background: none;
            border: none;
            cursor: pointer;
            padding: 0.5rem;
            .hamburger-line {
                display: block;
                width: 25px;
                height: 3px;
                background-color: white;
                margin: 5px 0;
                transition: 0.3s;
            }
        }
        .navbar-nav {
            display: none;
        }
    }
    .overlay-menu {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.9);
        z-index: 2000;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .overlay-close {
            position: absolute;
            top: 20px;
            right: 20px;
            background: none;
            border: none;
            color: white;
            font-size: 2rem;
            cursor: pointer;
        }
        .overlay-nav {
            list-style: none;
            padding: 0;
            margin: 0;
            text-align: center;
            .overlay-item {
                margin: 1rem 0;
                a,
                .overlay-dropdown-toggle {
                    color: white;
                    text-decoration: none;
                    font-size: 1.5rem;
                    padding: 0.5rem 1rem;
                    display: block;
                }
                .overlay-dropdown {
                    list-style: none;
                    padding: 0;
                    margin: 0.5rem 0 0 0;

                    li {
                        margin: 0.5rem 0;

                        a {
                            font-size: 1.2rem;
                            color: #ccc;
                        }
                    }
                }
            }
        }
    }
}
@media only all and (min-width: 760px) {
        .navbar {       
        .navbar-brand a {
        }
        
        .hamburger {
            display: none;
        }
        
        .navbar-nav {
            display: flex;
            list-style: none;
            margin: 0;
            padding: 0;
            
            .nav-item {
                margin-left: 1rem;
                
                .nav-link {
                    color: white;
                    text-decoration: none;
                    padding: 0.5rem 1rem;
                    border-radius: 4px;
                    transition: background-color 0.3s;
                }
                
                .nav-link:hover {
                    background-color: #555;
                }
            }
            
            .dropdown {
                position: relative;
                
                .dropdown-menu {
                    position: absolute;
                    top: 100%;
                    left: 0;
                    background-color: #333;
                    list-style: none;
                    margin: 0;
                    padding: 0;
                    border-radius: 4px;
                    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
                    // min-width: 150px;
                    z-index: 1000;
                }
                
                .dropdown-menu li {
                    margin: 0;
                }
                
                .dropdown-link {
                    display: block;
                    color: white;
                    text-decoration: none;
                    padding: 0.5rem 1rem;
                    transition: background-color 0.3s;
                }
                
                .dropdown-link:hover {
                    background-color: #555;
                }
            }
        
        }
    }
}
@media only all and (min-width: 992px) {
        .navbar {
            flex-direction: column;
            .navbar-brand{
                margin: 15px 0;
        }
        .hamburger {
        }
        
        .navbar-nav {
            display:flex;
            flex-direction: row;
            .nav-item {     
                display:flex;
                flex-direction: row;           
                .nav-link {
                    display:flex;
                    flex-direction: row;
                }
                .nav-link:hover {
                }
            }
            
            .dropdown {
                display:flex;
                flex-direction: row;
                // position: relative;
                
                .dropdown-menu {
                    display: flex;
                    position: relative;
                    top: 0;
                    box-shadow: none;
                    border-radius:0;
                    // left: 100%;
                    // background-color: #333;
                    // list-style: none;
                    // margin: 0;
                    // padding: 0;
                    // border-radius: 4px;
                    // box-shadow: 0 2px 5px rgba(0,0,0,0.2);
                    // z-index: 1000;
                }
                
                .dropdown-menu li {
                }
                
                .dropdown-link {
                }
                .dropdown-link:hover {
                }
            }
        
        }
    }

}
@media only all and (min-width: 1200px) {}