@media only all and (min-width: 0){
    .banner_article{
        figure{
        margin: 0;
        padding: 0;
        height: 100vh;
        width: auto;
        overflow: hidden;
        display:flex;
        align-items: center;
        justify-content: center;
        img{
            display:flex;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
        h1{
            position: absolute;
            color: white;
            font-size: 3rem;
            background-color: rgba(0, 0, 0, 0.5);
            padding: 1rem 2rem;
            border-radius: 10px;
            width: fit-content;
        }
        }
    }
    .contact_me_section{
        width: 100%;
        height: auto;
        background-color: rgba(25,25,25,0.8);
        padding: 5rem;
        // background-color: #f5f5f5;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        form{
            width: 100%;
            max-width: 75vw;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            h2{
                color: white;
                font-size: 2.5rem;
                margin-bottom: 1rem;
            }
            article{
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;
                margin-bottom: 1rem;
                p{
                    color: white;
                    font-size: 1.5rem;
                    margin-bottom: 0.5rem;
                }
                input{
                    width: 100%;
                    padding: 0.5rem;
                    margin-bottom: 1rem;
                    border: none;
                    border-radius: 5px;
                    font-size: 1rem;
                }
                textarea{
                    width: 100%;
                    height: 150px;
                    padding: 0.5rem;
                    margin-bottom: 1rem;
                    border: none;
                    border-radius: 5px;
                    font-size: 1rem;
                    resize: none;
                }
                div#contactMethodOptions{
                    color: white;
                    font-size: 1rem;
                    display:flex;
                    width: 100%;
                    label{
                        margin-right: 1rem;
                    }
                    input{
                        margin:0;
                        width: 100%;
                    }
                    // margin-top: -0.5rem;
                    // margin-bottom: 1rem;
                }
                div#contactMethodInfo{
                    color: white;
                    font-size: 0.9rem;
                    width: 100%;
                    // margin-top: -0.5rem;
                    // margin-bottom: 1rem;
                    display:flex;
                    flex-direction: column;
                }
                
            }
            button{
                padding: 0.5rem 1rem;
                border: none;
                border-radius: 5px;
                background-color: #333;
                color: white;
                font-size: 1rem;
                cursor: pointer;
                &:hover{
                    background-color: #555;
                }
            }
        }
    }
}
@media only all and (min-width: 760px){
    .banner_article{
        figure{
        img{
        }
        h1{
        }
        }
    }
    .contact_me_section{
        form{
            display:grid;
            grid-template-columns: 1fr 1fr;
            :nth-child(1){
                grid-column: 1 / span 2;
            }
            :nth-child(2){
                grid-column: 1 / span 1;
                input{
                        width: 90%;
                }
            }
            :nth-child(3){
                grid-column: 2 / span 1;
                width:100%;
            }
            :nth-child(4){
                grid-column: 1 / span 2;
                width:100%;
            }
            :nth-child(5){
                grid-column: 1 / span 2;
                width:100%;
            }
            :nth-child(6){
                grid-column: 1 / span 2;
            }
            h2{
            }
            article{
                p{
                }
                input{
                }
                textarea{
                }
                div#contactMethodOptions{
                    label{
                    }
                    input{
                    }
                }
                div#contactMethodInfo{
                }
                
            }
            button{
                cursor: pointer;
                &:hover{
                }
            }
        }
    }
}
@media only all and (min-width: 992px){
        .banner_article{
        figure{
        img{
        }
        h1{
        }
        }
    }
    .contact_me_section{
        form{
            width: 50%;
            h2{
            }
            article{
                p{
                }
                input{
                }
                textarea{
                }
                div#contactMethodOptions{
                    label{
                    }
                    input{
                    }
                }
                div#contactMethodInfo{
                }
                
            }
            button{
                cursor: pointer;
                &:hover{
                }
            }
        }
    }
}
@media only all and (min-width: 1200px){}