@media only all and (min-width: 0){
    .banner_article{
        figure{
        margin: 0;
        padding: 0;
        height: 100vh;
        width: auto;
        overflow: hidden;
        display:flex;
        align-items: center;
        justify-content: center;
        img{
            display:flex;
            width: auto;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
        h1{
            position: absolute;
            color: white;
            font-size: 3rem;
            background-color: rgba(0, 0, 0, 0.5);
            padding: 1rem 2rem;
            border-radius: 10px;
        }
        }
    }
}
@media only all and (min-width: 760px){}
@media only all and (min-width: 992px){}
@media only all and (min-width: 1200px){}